<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="selenium automation suite">
  <listeners>
    <!-- Add the custom listener to upload results to TestRail -->
    <listener class-name="utilities.TestRailUploaderListener"/>
  </listeners>
  <listeners>
    <listener class-name="io.qameta.allure.testng.AllureTestNg" />
</listeners>
  

  <test name="appium">
    <classes>
      <class name="tests.TestApp"/>		
    </classes>
  </test>
</suite>
